PORT=3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_secure_value
GOOGLE_CLIENT_ID=replace_with_google_client_id
GOOGLE_CLIENT_SECRET=replace_with_google_client_secret
USER_SERVICE_URL=http://localhost:4001
PHOTO_SERVICE_URL=http://localhost:4002
INTERNAL_JWT_SECRET=replace_with_shared_internal_jwt_secret
